<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/styleReset.css">
  <link rel="stylesheet" href="../CSS/footer.css">
</head>
<body>
<footer>
  <section class="footer-logo">
    <img src="https://static.thenounproject.com/png/4595376-200.png" alt="Logo">
  </section>

  <section class = "footer-links">

    <article>
      <span id="footer-tile">FITNOVA</span>
    </article>

    <article>
      <section class="footer-linked-elements" >
        <ul>
          <li><a class="footer-link" href="#">Terms of Service</a></li>
          <li><a class="footer-link" href="#">Privacy Policy</a></li>
          <li><a class="footer-link" href="#">Cookies Policy</a></li>
        </ul>
      </section>

      <section class="footer-linked-elements">
        <ul>
          <li><a class="footer-link" href="#">Instagram</a></li>
          <li><a class="footer-link" href="#">GitHub</a></li>
          <li><a class="footer-link" href="#">LinkedIn</a></li>
        </ul>
      </section>

      <section class="footer-linked-elements">
        <ul>
          <li><a class="footer-link" href="#">Contact</a></li>
          <li><a class="footer-link" href="#">FAQ´s</a></li>
          <li><a class="footer-link" href="#">Support</a></li>
        </ul>
      </section>
    </article>

  </section>

</footer>
</body>
</html>


