<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header and Footer Template</title>
    <link rel="stylesheet" href="../CSS/header&Footer.css">
</head>
<body>
<header>
    <div>LOGO</div>
    <nav>
        <a href="#">Home</a>
        <a href="#">Exercises</a>
        <a href="#">Recipes</a>
        <a href="#">Premium</a>
    </nav>
    <button>Login</button>
    <img src="https://thenounproject.com/browse/icons/term/default-image/">
</header>
</body>
</html>


