<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitnova</title>
    <link rel="stylesheet" href="../CSS/styleReset.css">
    <link rel="stylesheet" href="../CSS/header.css">
</head>

<body class="header-container">

<div class="left">
    <img src="../../Images/DefaultImage.png" alt="Logo">
</div>
<nav>
    <a href="main.html">Home</a>
    <a href="exercises.html">Exercises</a>
    <a href="recipes.html">Recipes</a>
    <a href="planTypes.html">Premium</a>
</nav>
<div class="right">
    <a href="profile.html">Settings</a>
    <button><a href="login.html">Login</a></button>
    <a href="profile.html">
        <img src="../../Images/DefaultImage.png" alt="Logo">
    </a>

</div>

</body>



