<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FitNova</title>
    <script src="../JS/xlu-include-file.js"></script>
    <script src="../JS/script.js"></script>
    <link rel="stylesheet" href="../CSS/styleReset.css">
    <link rel="stylesheet" href="../CSS/index.css">

</head>
<body class="main-body">
    <header  xlu-include-file="header.html"></header>
    <main class="content">
        <section class="main-image">
            <div class="main-content">
                <div class="main-text">
                    <p class="main-description"> </p>
                </div>
                <button class="main-button" >Join Now >></button>
            </div>
        </section>
        <div xlu-include-file="planTypes.html"></div>
    </main>

    <footer xlu-include-file="footer.html"></footer>
    <script>

        xLuIncludeFile();
        loadDescription();


    </script>
</body>
</html>