<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FitNova</title>
    <script src="../JS/Loader.js"></script>
    <link rel="stylesheet" href="../CSS/styleReset.css">
    <link rel="stylesheet" href="../CSS/index.css">

</head>
<body class="main-body">
    <header  id="header"></header>
    <main class="content">
        <section class="main-image">
            <div class="main-content">
                <div class="main-text">
                    <p class="main-description"> </p>
                </div>
                <button class="main-button" >Join Now >></button>
            </div>
        </section>
        <div id="planTypes"></div>
    </main>

    <footer id="footer"></footer>

    <script>
        loadIndex();
    </script>
</body>
</html>