<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FitNova</title>
    <script src="../JS/xlu-include-file.js"></script>
    <link rel="stylesheet" href="../CSS/styleReset.css">
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/planTypes.css">
</head>
<body class="main-body">
    <header  xlu-include-file="header.html"></header>
    <main class="content">
        <section class="main-image">
            <div class="main-content">
                <div class="main-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies lectus vel arcu sodales,
                        consequat varius quam tempor.<p>Sed id orci et ex vulputate porta non vel odio.
                    Suspendisse cursus ornare ante sit amet finibus. Nunc at condimentum arcu, eget vestibulum nibh. </p>
                </div>
                <button class="main-button" >Join Now >></button>
            </div>
        </section>
        <div xlu-include-file="planTypes.html"></div>
    </main>

    <footer xlu-include-file="footer.html"></footer>
    <script>

        xLuIncludeFile();

    </script>
</body>
</html>