<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FitNova</title>
    <link rel="stylesheet" href="../CSS/styleReset.css">
    <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>

    <main class="content">
        <section class="main-image">
            <div class="main-content">
                <div class="main-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies lectus vel arcu sodales,
                        consequat varius quam tempor.<p>Sed id orci et ex vulputate porta non vel odio.
                    Suspendisse cursus ornare ante sit amet finibus. Nunc at condimentum arcu, eget vestibulum nibh. </p>
                </div>
                <button class="main-button" >Join Now >></button>
            </div>
        </section>
    </main>

</body>
</html>