<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
  <script src="../JS/Loader.js"></script>
  <link rel="stylesheet" href="../CSS/payment.css">
</head>
<body>
<header id="header"></header>
  <main class="payment-container">
    <div class="payment-container">
      <form action="">
          <div class="column">
            <h3 class="title">Payment</h3>
            <div class="input-box">
              <span>Cards Accepted :</span>
              <img src="../../Images/credit-cards.jpg" alt="">
            </div>
            <div class="input-box">
              <span>Name On Card :</span>
              <input type="text" placeholder="Sofia Aguilar Santana">
            </div>
            <div class="input-box">
              <span>Credit Card Number :</span>
              <input type="number" placeholder="1111 2222 3333 4444">
            </div>
            <div class="input-box">
              <span>Exp. Month :</span>
              <input type="text" placeholder="August">
            </div>

            <div class="flex">
              <div class="input-box">
                <span>Exp. Year :</span>
                <input type="number" placeholder="2025">
              </div>
              <div class="input-box">
                <span>CVV :</span>
                <input type="number" placeholder="123">
              </div>
            </div>
            <button type="submit">Submit</button>
          </div>
      </form>
    </div>
  </main>
<footer id="footer"></footer>

</body>
</html>