<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitnova</title>
  <link rel="stylesheet" href="../CSS/styleReset.css">
  <link rel="stylesheet" href="../CSS/planTypes.css">
</head>

<div class="plans-template">

  <h2 class="plan-title">PLANS</h2>

  <!-- Plan types-->
  <article class="container">

    <article class="plan-card">
      <span class="card-title">Basic</span>

      <ul class="unordered-text-list">

      </ul>
      <p><span class="price">$0</span> /monthly</p>
      <a href="payment.html" class="plan-button">Get Started</a>
    </article>

    <article class="plan-card">
      <span class="card-title">Standard</span>
      <ul class="unordered-text-list">
      </ul>
      <p><span class="price">$12</span> /monthly</p>
      <a href="payment.html" class="plan-button">Get Started</a>
    </article>

    <article class="plan-card">
      <span class="card-title">Premium</span>
      <ul class="unordered-text-list">
      </ul>
      <p><span class="price">$22</span> /monthly</p>
      <a href="payment.html" class="plan-button">Get Started</a>
    </article>

  </article>
</div>

