<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitnova</title>
  <script src="../JS/Loader.js"></script>
  <link rel="stylesheet" href="../CSS/styleReset.css">
  <link rel="stylesheet" href="../CSS/premium.css">
</head>

<body class="premium-body">
<header  id="header"></header>
<main class="premium-content">
  <div class="premium-carousel"></div>

  <div id="planTypes"></div>

  <div class="premium-table">
    <table class="comparative-plan-table">
      <thead class="comparative-plan-table-header">
      <tr class="comparative-plan-table-row">
        <th class="table-header-item">Features</th>
        <th class="table-header-item">Basic Plan</th>
        <th class="table-header-item">Standard Plan</th>
        <th class="table-header-item">Premium Plan</th>
      </tr>
      </thead>
      <tbody>
      <tr class="comparative-plan-table-row">
        <td class="table-first-row">Acceso a rutinas de entrenamiento básicas</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
      </tr>
      <tr>
        <td class="table-first-row">Acceso a recetas básicas</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
      </tr>
      <tr>
        <td class="table-first-row">Creación de rutinas de entrenamiento</td>
        <td class="cross-mark">✗</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
      </tr>
      <tr>
        <td class="table-first-row">Publicación de recetas personalizadas</td>
        <td class="cross-mark">✗</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
      </tr>
      <tr>
        <td class="table-first-row">Integración con dispositivos </td>
        <td class="cross-mark">✗</td>
        <td class="cross-mark">✗</td>
        <td class="checkmark">✔</td>
      </tr>
      <tr>
        <td class="table-first-row">Consulta con entrenadores</td>
        <td class="cross-mark">✗</td>
        <td class="cross-mark">✗</td>
        <td class="checkmark">✔</td>
      </tr>
      </tbody>
    </table>
  </div>


</main>
<footer id="footer"></footer>

<script>
  loadPlanTypes();
</script>

</body>
</html>