<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitnova</title>
    <link rel="stylesheet" href="../CSS/styleReset.css">
    <link rel="stylesheet" href="../CSS/profile.css">
</head>
<body>


    <div class="container">

        <section class="user-profile-image">
            <img src="../../Images/DefaultImage.png" alt="">
        </section>

        <article class="user-profile-options">
            <section>
                <p>Settings</p>
            </section>
        </article>

    </div>


</body>
</html>