<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitnova</title>
    <script src="../JS/Loader.js"></script>
    <link rel="stylesheet" href="../CSS/styleReset.css">
    <link rel="stylesheet" href="../CSS/profile.css">
</head>
<body class="profile-body">
    <header  id="header"></header>
        <main class="container">
            <div class="profile-settings">
            <section class="user-profile-image">
                <img class="user-profile-image" src="../../Images/Profile.jpg" alt="">
            </section>
            <article class="user-profile-options">
                <div class="user-profile-grid">
                    <button class="user-profile-card-button" onclick="window.location.href='settings.html'">Settings</button>
                    <button class="user-profile-card-button" onclick="window.location.href='savedRecipesWorkoutsProgress.html'">Saved Recipes</button>
                    <button class="user-profile-card-button" onclick="window.location.href='savedRecipesWorkoutsProgress.html'">Workout Progress</button>
                    <button class="user-profile-card-button">Profile</button>
                    <button class="user-profile-card-button">Posts</button>
                    <button class="user-profile-card-button">Log Out</button>
                </div>
            </article>
            </div>
        </main>
    <footer id="footer"></footer>
</body>
</html>