<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="../JS/xlu-include-file.js"></script>
    <link rel="stylesheet" href="../CSS/register.css">
</head>
<body>
    <header xlu-include-file="header.html"></header>
        <main class="register-container">
            <div class="form-container">
                <div class="login-container">
                    <label for="name_login">Name & surname</label>
                    <input type="text" id="name_login" name="name_login" placeholder="Add your full name" required>
                    <label for="email_login">Email</label>
                    <input type="email" id="email_login" name="email_login" placeholder="Add your email" required>
                    <label for="number_login">Number</label>
                    <input type="tel" id="number_login" name="number_login" placeholder="Add your number" required>
                    <label for="birthday_login">Birthday</label>
                    <input type="date" id="birthday_login" name="birthday_login" required>
                    <fieldset>
                        <legend>Sex: </legend>
                        <label for="male">Male</label>
                        <input type="radio" id="male" name="sex" value="male">
                        <label for="female">Female</label>
                        <input type="radio" id="female" name="sex" value="female">
                        <label for="other">Other</label>
                        <input type="radio" id="other" name="sex" value="other">
                    </fieldset>
                    <label for="country">Choose your country:</label>
                    <input list="country" name="browser" id="browser">
                    <datalist id="country">
                        <option value="Albania">
                        <option value="Andorra ">
                        <option value="Armenia">
                        <option value="Austria">
                        <option value="Azerbaijan">
                        <option value="Belarus">
                        <option value="Belgium">
                        <option value="Bosnia and Herzegovina ">
                        <option value="Bulgaria">
                        <option value="Croatia ">
                        <option value="Cyprus ">
                        <option value="Czech Republic">
                        <option value="Denmark">
                        <option value="Estonia">
                        <option value="Finland">
                        <option value="Former Yugoslav Republic of Macedonia">
                        <option value="France">
                        <option value="Georgia">
                        <option value="Germany">
                        <option value="Greece">
                        <option value="Hungary">
                        <option value="Iceland">
                        <option value="Ireland">
                        <option value="Italy">
                        <option value="Kosovo">
                        <option value="Latvia">
                        <option value="Liechtenstein">
                        <option value="Lithuania">
                        <option value="Luxembourg">
                        <option value="Malta">
                        <option value="Moldova">
                        <option value="Monaco">
                        <option value="Montenegro">
                        <option value="Netherlands">
                        <option value="Norway">
                        <option value="Poland">
                        <option value="Portugal">
                        <option value="Romania">
                        <option value="Russia">
                        <option value="San Marino">
                        <option value="Serbia">
                        <option value="Slovakia">
                        <option value="Slovenia">
                        <option value="Spain">
                        <option value="Sweden">
                        <option value="Sweden">
                        <option value="Switzerland">
                        <option value="Turkey">
                        <option value="Ukraine">
                        <option value="United Kingdom">
                    </datalist>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="email" placeholder="Add your password" required>
                    <button class="register">Register</button>
                </div>
                <a href="login.html" class="login">Login</a>
            </div>
        </main>
    <footer xlu-include-file="footer.html"></footer>
    <script src="../JS/xlu-include-file.js"></script>
    <script>
        xLuIncludeFile();
    </script>
</body>
</html>