<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipesWorkoutsSaved</title>
    <script src="../JS/Loader.js"></script>
    <link rel="stylesheet" href="../CSS/savedRecipesWorkoutsProgress.css">
</head>
<body class="progress-saved">
    <header  id="header"></header>
    <div class="container">
        <h1>Consectetur adipiscing elit.</h1>

        <div class="card">
            <div class="card-image">
                <div class="placeholder-img"> <img src="../../Images/DefaultImage.png"></div>
            </div>
            <div class="card-content">
                <h2>Duis aute irure dolor</h2>
                <p>Lorem ipsum • Lorem ipsum.</p>
            </div>
            <div class="details-icon">▶</div>
        </div>

        <div class="card">
            <div class="card-image">
                <div class="placeholder-img"> <img src="../../Images/DefaultImage.png"></div>
            </div>
            <div class="card-content">
                <h2>Sunt in culpa qui officia</h2>
                <p>Lorem ipsum • Lorem ipsum.</p>
            </div>
            <div class="details-icon">▶</div>
        </div>

        <h1>Excepteur sint occaecat cupidatat.</h1>

        <div class="card">
            <div class="card-image">
                <div class="placeholder-img"> <img src="../../Images/DefaultImage.png"></div>
            </div>
            <div class="card-content">
                <h2>Duis aute irure dolor</h2>
                <p>Lorem ipsum • Lorem ipsum.</p>
            </div>
            <div class="details-icon">▶</div>
        </div>

        <div class="card">
            <div class="card-image">
                <div class="placeholder-img"> <img src="../../Images/DefaultImage.png"></div>
            </div>
            <div class="card-content">
                <h2>Sunt in culpa qui officia</h2>
                <p>Lorem ipsum • Lorem ipsum.</p>
            </div>
            <div class="details-icon">▶</div>
        </div>

        <div class="card">
            <div class="card-image">
                <div class="placeholder-img"> <img src="../../Images/DefaultImage.png"></div>
            </div>
            <div class="card-content">
                <h2>Deserunt mollit anim id est laborum.</h2>
                <p>Lorem ipsum • Lorem ipsum.</p>
            </div>
            <div class="details-icon">▶</div>
        </div>

        <div class="card">
            <div class="card-image">
                <div class="placeholder-img"> <img src="../../Images/DefaultImage.png"></div>
            </div>
            <div class="card-content">
                <h2>Duis aute irure dolor</h2>
                <p>Lorem ipsum • Lorem ipsum.</p>
            </div>
            <div class="details-icon">▶</div>
        </div>

    </div>
    <footer id="footer"></footer>
</body>
</html>