<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="../CSS/settings.css">
</head>
<body>
    <div class="cont">
        <label class="mode-label">Dark Mode</label>
        <input type="checkbox" id="dark-mode" class="mode">
    </div>
    <div class="cont">
        <fieldset>
            <legend>Profile</legend>
            <label for="public">Public</label>
            <input type="radio" id="public" name="profile" value="public">
            <label for="private">Private</label>
            <input type="radio" id="private" name="profile" value="private">
        </fieldset>
    </div>
    <div class="cont">
        <fieldset>
            <legend>Email notification</legend>
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="notify" value="yes">
            <label for="no">No</label>
            <input type="radio" id="yes" name="notify" value="no">
        </fieldset>
    </div>
    <div class="cont">
        <label for="language">Choose your language:</label>
        <input list="language" name="language" id="langu">
        <datalist id="language">
            <option value="Albania">
            <option value="Andorra ">
            <option value="Armenia">
            <option value="Austria">
            <option value="Azerbaijan">
            <option value="Belarus">
            <option value="Belgium">
            <option value="Bosnia and Herzegovina ">
            <option value="Bulgaria">
            <option value="Croatia ">
            <option value="Cyprus ">
            <option value="Czech Republic">
            <option value="Denmark">
            <option value="Estonia">
            <option value="Finland">
            <option value="Former Yugoslav Republic of Macedonia">
            <option value="France">
            <option value="Georgia">
            <option value="Germany">
            <option value="Greece">
            <option value="Hungary">
            <option value="Iceland">
            <option value="Ireland">
            <option value="Italy">
            <option value="Kosovo">
            <option value="Latvia">
            <option value="Liechtenstein">
            <option value="Lithuania">
            <option value="Luxembourg">
            <option value="Malta">
            <option value="Moldova">
            <option value="Monaco">
            <option value="Montenegro">
            <option value="Netherlands">
            <option value="Norway">
            <option value="Poland">
            <option value="Portugal">
            <option value="Romania">
            <option value="Russia">
            <option value="San Marino">
            <option value="Serbia">
            <option value="Slovakia">
            <option value="Slovenia">
            <option value="Spain">
            <option value="Sweden">
            <option value="Sweden">
            <option value="Switzerland">
            <option value="Turkey">
            <option value="Ukraine">
            <option value="United Kingdom">
        </datalist>
    </div>
    <div class="but">
        <a href="#" class="delete-button">Delete Account</a>
    </div>
</body>
</html>