.footer-template {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
     background-color: #09372C;
     gap: 40px;
     flex-wrap: wrap;
     text-align: center;
 }

.footer-logo img {
    width: 50px;
    height: 50px;
    background-color: lightgray;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.footer-linked-elements {
    padding: 5px;
}

#footer-tile {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: white;
}

.footer-linked-elements ul {
    font-size: 12px;
    list-style: none;
    padding: 0 5px;
    margin: 0;
    text-align: center;
}

.footer-list-element {
    margin-bottom: 10px;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-link:hover {
    color: black;
}

.footer-link:active {
    color: grey;
}

