.footer-logo img {
    width: 60px;
    height: 60px;
    background-color: lightgray;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;

}

article {
    display: flex;
    padding: 5px;
}

.footer-linked-elements {
    padding: 10px;
}

#footer-tile {
    font-size: 50px;
    color: white;
}

.footer-linked-elements ul {
    font-size: 18px;
    list-style: none;
    padding: 0 20px;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-link:hover {
    color: black;
}

.footer-link:active {
    color: red;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #09372C;
    gap: 80px;
}