.header-2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background: #071013;
}

.left img,
.right img {
    height: 40px;
    width: 40px;
    background-color: gray;
    padding: 10px 10px 10px 10px;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #B8BABD;
    font-size: 18px;
    font-weight: bold;
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

button {
    padding: 10px 20px;
    background-color: #0A5E45;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #088A68;
}
.header-link{
    color: white;
    text-decoration: none;
}
.header-link:active {
    color: black;
}

@media (max-width: 431px) {
    .header-2-container {
        padding: 5px;
        justify-content: space-between;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    .left img,
    .right img {
        height: 35px;
        width: 35px;
        padding: 5px;
    }

    nav a {
        font-size: 14px;
        gap: 8px;
    }

    button {
        padding: 8px 12px;
        font-size: 13px;
    }

    nav {
        gap: 5px;
    }

    .right {
        gap: 10px;
    }
}

@media screen and (min-width: 432px) and (max-width: 1024px) {
    .header-2-container {
        padding: 5px;
        justify-content: space-between;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    .left img,
    .right img {
        height: 35px;
        width: 35px;
        padding: 5px;
    }

    nav a {
        font-size: 24px;
        gap: 10px;
    }

    button {
        padding: 10px 12px;
        font-size: 24px;
    }

    nav {
        gap: 10px;
    }

    .right {
        gap: 10px;
    }
}


