
.header-2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #071013;
    width: 100%;
    font-size: 20px;
}

.left img {
    height: 100px;
    width: 100px;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
}
.right img {
    height: 65px;
    width: 65px;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #B8BABD;
    font-size: 18px;
    font-weight: bold;
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

button {
    padding: 5px 20px;
    background-color: #0A5E45;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #088A68;
}
.header-link{
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 0 ;
}
.header-link:active {
    color: black;
}



@media screen and (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}