
body {
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
}


main.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

}

.login-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background: #111111;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

footer {
    margin-top: auto;
    background-color: #09372C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-template {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

input {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid #555;
    background: #222;
    color: white;
}

input:focus {
    outline: none;
    border-color: #0A5E45;
}

button {
    padding: 12px;
    margin-top: 20px;
    background-color: #0A5E45;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: background 0.3s;
    text-decoration: none;
}

button:hover {
    background-color: #088A68;
}

.create_account {
    padding: 12px;
    margin-top: 20px;
    background-color: #0A5E45;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.create_account:hover {
    background-color: #088A68;
}

.create_account {
    width: 100%;
    font-size: 18px;
    text-decoration: none;
}

.login {
    width: 50%;
    font-size: 14px;
}

@media screen and (max-width: 431px) {
    body {
        font-size: 20px;
    }

    .login-container div {
        max-width: 70%;
        padding: 10px;
        flex-direction: column;
        align-items: center;

    }

    input {
        padding: 20px;
        font-size: 20px;
    }

    button, .create_account {
        padding: 18px;
        font-size: 20px;
        width: 100%;
    }

    .login {
        width: 90%;
        font-size: 20px;
    }
}

@media screen and (max-width: 430px) {
    body {
        font-size: 20px;
    }

    .login-container div {
        max-width: 70%;
        padding: 10px;
        flex-direction: column;
        align-items: center;

    }

    input {
        padding: 20px;
        font-size: 20px;
    }

    button, .create_account {
        padding: 18px;
        font-size: 20px;
        width: 100%;
    }

    .login {
        width: 90%;
        font-size: 20px;
    }
}

@media screen and (min-width: 432px) and (max-width: 1024px) {
    body {
        font-size: 22px; /* Aumentamos el tamaño de texto */
    }

    .login-container div {
        max-width: 600px; /* Hacemos el div más grande */
        padding: 40px;
    }

    input {
        padding: 22px;
        font-size: 22px;
    }

    button, .create_account {
        padding: 20px;
        font-size: 22px;
        width: 100%;
    }

    .login {
        width: 80%;
        font-size: 22px;
    }

    .footer-template {
        flex-direction: column;
        gap: 40px;
        padding: 30px;
    }
}