.profile-body {
    background-color: #071013;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.profile-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 100px;
    padding: 35px 70px;
    border-radius: 35px;
    background-color: rgb(10, 75, 57, 0.18);
    box-shadow: 0 15px 30px rgba(13, 171, 118, 0.6);
    border: 2px solid rgba(13, 171, 118, 0.6);
}




.user-profile-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    gap: 30px;
    width: 100%;

}

.user-profile-card-button {
    font-size: 1.1vw;

    padding: 12px;
    min-width: 14vw;
    min-height: 6vw;
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
    background: #0A4B39;
    color: white;
    box-shadow: 2px 2px 8px #0DAB76;
    transition: 0.2s;
}

.user-profile-card-button:hover {
    background: #0DAB76;
    color: #FFF;
    transform: translate(-0.25rem, -0.25rem);
}

.user-profile-card-button:active {
    transform: translate(0);
    box-shadow: none;
}


@media screen and (min-width: 431px) and (max-width: 1024px) {
    .user-profile-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
        gap: 30px;

    }
}

@media screen and (max-width: 430px) {
    .profile-settings {
        padding: 15px 10px;
        gap: 20px;
    }
    .user-profile-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
        gap: 15px;

    }
    .user-profile-image img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .user-profile-card-button {

        word-wrap: break-word;
        max-width: 6.5rem;
        padding: 0;
        font-size: 3vw;
        height: 5.5rem;
        border-radius: 10px;


    }
}