.profile-body {
    background-color: #071013;
    display: flex;
}

.container {

    flex: 1;

}

.profile-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 170px;
    gap: 100px;
    padding: 25px;
    border-radius: 35px;
    background-color: rgb(10, 75, 57, 0.18);
    box-shadow: 0 15px 30px rgba(13, 171, 118, 0.6);
    border: 2px solid rgba(13, 171, 118, 0.6);
}


.user-profile-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    gap: 15px;
    align-items: stretch;
}

.user-profile-card-button {
    font-size: 16px;
    padding: 12px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
    background: #0A4B39;
    color: white;
    box-shadow: 2px 2px 8px #0DAB76;
    transition: 0.2s;
}

.user-profile-card-button:hover {
    background: #0DAB76;
    color: #FFF;
    transform: translate(-0.25rem, -0.25rem);
}

.user-profile-card-button:active {
    transform: translate(0);
    box-shadow: none;
}

