* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}



.cont {
    background: #111;
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

fieldset {
    border: 2px solid #111;
    border-radius: 15px;
    padding: 15px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input[list] {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #555;
    background: #222;
    color: white;
}

.contr {
    margin-top: 20px;
}

.delete-button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px;
    margin-top: 20px;
    background-color: #0A5E45;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: background 0.3s;
    text-decoration: none;
}


.delete-button:hover {
    background-color: #088A68;
}

header, footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

main.setting-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding-bottom: 20px;
}

.setting-container div {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    width: 100%;
    max-width: 400px;
    background: #111111;
    border-radius: 12px;
    text-align: center;
}

footer {
    background-color: #09372C;
    margin-top: 20px;
}

.footer-template {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
    max-width: 100vw;
}
@media screen and (max-width: 430px) {
    body {
        font-size: 20px;
    }

    .setting-container main {
        max-width: 60%;
        padding: 15px;
    }

    .cont {
        padding: 25px;
        font-size: 20px;
        width: 70%;
        max-width: 70%;
    }

    input {
        padding: 18px;
        font-size: 20px;
        width: 70%;
    }

    .delete-button {
        font-size: 20px;
        padding: 18px;
        width: 70%;
    }

    label {
        font-size: 20px;
    }
}

@media screen and (min-width: 432px) and (max-width: 1024px) {
    body {
        font-size: 20px;
    }

    .setting-container main {
        max-width: 100%;
        padding: 20px;
    }

    .cont {
        max-width: 100%;
        padding: 20px;
    }

    input {
        padding: 20px;
        font-size: 20px;
    }

    .delete-button {
        font-size: 20px;
        padding: 20px;
    }
}





